
@media all {
   .basestyle {
          font-family: "Garamond", "Arial", "Times";
          padding-bottom: 2pt;
          color: black;
          background-color: white;
		  line-height:1.5;
   }

   .pubstyle {
          font-family: "Garamond", "Arial", "Times";
          padding-bottom: 2pt;
          color: black;
          background-color: white;
		  line-height:1.5;
   }
	.papertitle {
	font-weight: bold;
	color: #903;
	background-color: #FFF;
	}

   .linkstyle {
	font-family: "Garamond", "Arial", "Times";
	padding-bottom: 2pt;
	color: #09F;
	background-color: white;
	line-height:1.5;
	text-decoration: underline;
   }

   .emailaddrstyle {
	font-family: "Times";
	font-style: italic;
	color: #00F;
	text-decoration: underline;
   }
		A {
	font-weight: bold;
	color: #00F;
	text-decoration: underline;
        }
	    A:hover {
            color: white;
            background-color: #1e8ab6;
			text-decoration: none;
        }
}


address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

  h1 {
    font-family: Times, Geneva, Arial,
          SunSans-Regular, sans-serif }


div.maincontent  {
	font-size: large;
	position: absolute;
	margin-top:20px;
	left: 148px;
	max-width: 850px;
	top: -14px;
}

#buttons ul { 
		list-style:none;
		margin:20px;
		padding:0;
		width:800px;
		overflow:hidden;     
		} 
 
#buttons ul li {  
        display: inline; 
        } 
 
#buttons ul li a {
	text-decoration:none;
	width:150px;
	padding:5px 0;
	background:#630;
	color:#FFF;
	float:left;
	text-align:center;
	border-left:1px solid #fff;
        } 
 
#buttons ul li a:hover {
	color: #000;
	background-color: #CCC;
        }